
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family:'Poppins', sans-serif;
}

*::selection{
  color: #000;
}

div {
  transition: .2s ease-in-out;
}

/* for header in homepage */

button{
  text-decoration: none;
  border: none;
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 12px 20px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0,1);
  color: #fff;
}

.header .title {
  font-size: 32px;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 18px;
}

.opt {
  display: flex;
  flex-direction: row;
  gap: 8em;
  justify-content: center;
  padding: 12px;
  margin: 5em 0 0 0;
  width: 100%;
}

.blog , .social {
  cursor: pointer;
  max-width: 20em;
  min-width: 20em;
  text-align: start;
}

.blog .tit ,.social .tit {
  font-size: 28px;
}

.desc {
  margin: 12px 0 0 0;
}

img{
    min-height: 250px;
    min-width: 250px;
    max-width: 250px;
    max-height: 250px;
    border-radius: 10px;
}

button{
  border-radius: 8px !important;
  background-color: #000;
  padding: 8px 16px;
  color: #fff;
  margin-bottom: 1em;
}